.body{
    background-color: rgb(228, 227, 221);
    /* font-family:emoji; */
    

    
}
/* navbar*********************************************************************************************************************** */
.nav-bg {
    /* background-color: #cf8989; */
    background-color: rgb(228, 226, 214);
    /* color: #330000; */
    
}
.nav-a{
    color: #7a0000;
    text-decoration: none;
}
.nav-a:hover{
    color: #220000;
}
/* hero section*********************************************************************************************************** */
.hero-1 h1{
    color: #7a0000;
}
.hero-1 button{
    width: 70%;
}
.btn-1{
    color: #7a0000;
    border-color: #330000;
}
.btn-1:hover{
    background-color: #7a0000d0;
    color: aliceblue;
}
.btn-2{
    color: aliceblue;
    background-color: #7a0000;
    border-color: #850000;
}
.hero-2{
padding-top: 50px;
}

.hero-img{
margin-top: 30px;
/* width: 300px; */
    width: 330px;
    /* box-shadow: 0 20px 30px rgb(0, 0, 0); */
}

/* section2******************************************************************************************************* */



/* animation and transformation *********************************************************************************** */

.glow {
  animation: glow 2s infinite alternate;
}
@keyframes glow {
  from {
   box-shadow: 0 0 25px rgba(189, 45, 45, 0.781) ;
  }
  to {
       box-shadow: 0 0 50px rgb(247, 243, 228) ;

  }
}

.transform {
  transition: 0.4s ease ;
}

.fade-in:hover{
  /* transform: scale(1.1); */
  opacity: 80%;
}
.t-scale2:hover{
  transform: scale(1.02);
}

.pulse{
  animation: pulse 3s  infinite;
}
@keyframes pulse {
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);

  }
  
}